[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/vim-gfm-syntax"]
	path = vim/bundle/vim-gfm-syntax
	url = https://github.com/rhysd/vim-gfm-syntax.git
[submodule "ssh-find-agent"]
	path = ssh-find-agent
	url = https://github.com/wwalker/ssh-find-agent.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
