[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/vim-gfm-syntax"]
	path = vim/bundle/vim-gfm-syntax
	url = https://github.com/rhysd/vim-gfm-syntax.git
