snippet mac "Mac-only task"
- [ ] :apple: :white_small_square: 
endsnippet

snippet lin "Linux-only task"
- [ ] :white_small_square: :penguin: 
endsnippet

snippet bth "Both Mac and Linux task"
- [ ] :apple: :penguin: 
endsnippet

snippet tip "Tip"
:bulb: 
endsnippet

snippet exp "Experimental"
:test_tube: 
endsnippet
